@font-face {
    font-family: moontime;
    src: url("../fonts/SafirahMoonRegular-WyODz.otf");
}

@font-face {
    font-family: 'Blacker Sans Text';
    src: url("../fonts/Blacker\ Sans\ Text\ Regular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');