@font-face {
    font-family: moontime;
    src: url("../fonts/SafirahMoonRegular-WyODz.otf");
}

@font-face {
    font-family: 'Blacker Sans Text';
    src: url("../fonts/Blacker\ Sans\ Text\ Regular.otf");
}